@import "./abstracts/variables.scss";

.preview-wrap {
  text-align: left;
  > button {
    background: transparent;
    border: none;
    padding: 0;
  }
  h2 {
    font-size: 22px;
    text-align: center;
  }
  .join-menu {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 40px;
    li {
      width: 167px;
      height: 168px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #e6e6e6;
      border-radius: 8px;
      span {
        display: block;
        text-align: center;
        width: 100px;
      }
      h3 {
        padding-top: 7px;
        font-size: 14px;
        color: #7a7a7a;
      }
      img {
        width: 100%;
      }
    }
  }
  .join-button {
    display: flex;
    padding-top: 173px;
    :nth-child(1) {
      margin-right: 5px;
    }
    .g-login {
      width: 62px;
      border-radius: 8px;
    }
  }
}

.join-wrap {
  padding: 2px;
  text-align: left;

  > button {
    background: transparent;
    border: none;
    padding: 0;
    margin-bottom: 33px;
  }
  .guide-text {
    padding-bottom: 56px;
    font-size: 14px;
    line-height: 22px;
    > h1 {
      margin-bottom: 8px;
    }
    > p {
      color: $gray-400;
      > span {
        display: block;
      }
    }
  }

  .join-form {
    > div {
      margin-bottom: 24px;
    }
    .verify-password {
      margin-top: 8px;
      .highlight {
        color: $main-blue-100;
      }
      > span {
        font-size: 12px;
        color: $gray-300;
        margin-right: 12px;
      }
    }
  }

  .checkbox-wrap {
    position: absolute;
    bottom: 90px;
  }

  .next-button {
    position: absolute;
    bottom: 20px;
    width: 346px;
    height: 44px;
    border-radius: 8px;
    background: $main-blue-100;
    color: $white;
    margin-bottom: 0px !important;
  }

  button:disabled,
  button[disabled] {
    cursor: auto;
    background: $main-blue-50;
  }
}
h1 {
  font-size: 22px;
  padding-bottom: 12px;
}

p.error-message {
  padding-bottom: 0;
}

.join-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 108;
  > div {
    z-index: 115;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 390px;
    height: 700px;
    padding: 20px;
    border-radius: 16px;
  }
}

header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 110px;
  height: 100vh;
  background: #fff;
  ul {
    padding: 0 16px;
    padding-top: 40px;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
      text-align: center;
      border-radius: 16px;
      transition: all 0.3s;
      &.active {
        background-color: #f4f6fb;
      }
      a {
        &.active {
          background-color: #f4f6fb;
          color: #000;
          border-radius: 16px;
          padding: 10px 0px;
          svg {
            color: #000;
          }
        }
      }
      width: 78px;
      height: 63px;
      a {
        display: inline-block;
        width: 100%;
        color: #7a7a7a;
        span.wrap {
          display: inline-block;
          width: 100%;
          span {
            display: inline-block;
            width: 100%;
            &:first-child {
              width: 16px;
              height: 16px;
            }
            &:last-child {
              padding-top: 8px;
              text-align: center;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    bottom: 0;
    top: initial;
    width: 100%;
    height: 65px;
    padding: 8px 0;
    ul {
      padding-top: 0;
      display: flex;
      justify-content: space-between;
    }
  }
}
