.join-wrap {
  text-align: center;
  h2 {
    font-size: 22px;
  }
  .join-menu {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px;
    li {
      width: 35%;
      display: flex;
      padding: 20px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #e6e6e6;
      border-radius: 8px;
      span {
        display: block;
        text-align: center;
        width: 100px;
      }
      h3 {
        padding-top: 7px;
        font-size: 14px;
        color: #7a7a7a;
      }
      img {
        width: 100%;
      }
    }
  }
  .join-button {
    display: flex;
    padding-top: 22px;
    * {
      height: 48px;
    }
    .g-login {
      width: 62px;
      border-radius: 8px;
    }
    .start-join {
      background: #5e81ff;
      color: #fff;
      width: 100%;
      border-radius: 8px;
      border: none;
    }
  }
}

.go-back {
  > button {
    background: transparent;
    border: none;
    padding: 0;
    margin-bottom: 30px;
  }
}
.join-wrap2 {
  padding: 2px;
  text-align: left;
  h1 {
    font-size: 22px;
    padding-bottom: 12px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    color: #7a7a7a;
    padding-bottom: 30px;
  }
  label {
    display: block;
    text-align: left;
    color: #7a7a7a;
    font-size: 14px;
    padding: 9px 0;
  }
  form {
    input[type="text"],
    input[type="password"],
    select,
    button {
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      height: 38px;
      width: 100%;
    }
    button {
      background-color: #5e81ff;
      color: #fff;
      height: 48px;
      border-radius: 8px;
      &:disabled {
        opacity: 0.5;
      }
    }
  }
  #check {
    display: inline-block;
  }
  #check + label {
    display: inline-block;
  }
  .check-input {
    // padding: 30px 0;
    text-align: left;
    input {
      width: 20px;
      height: 20px;
      border: 2px solid lightgray;
    }
    label {
      vertical-align: bottom;
    }
  }
}

.join-form {
  div {
    margin-bottom: 15px;
  }
}

p.error-message {
  padding-bottom: 0;
}
