@import "./abstracts/variables.scss";

.join-wrap {
  text-align: center;
  h2 {
    font-size: 22px;
  }
  .join-menu {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px;
    li {
      display: flex;
      padding: 20px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #e6e6e6;
      border-radius: 8px;
      span {
        display: block;
        text-align: center;
        width: 100px;
      }
      h3 {
        padding-top: 7px;
        font-size: 14px;
        color: #7a7a7a;
      }
      img {
        width: 100%;
      }
    }
  }
  .join-button {
    :nth-child(1) {
      margin-right: 5px;
    }
    display: flex;
    padding-top: 22px;
    .g-login {
      width: 62px;
      border-radius: 8px;
    }
  }
}

.go-back {
  > button {
    background: transparent;
    border: none;
    padding: 0;
    margin-bottom: 30px;
  }
}
.join-wrap2 {
  padding: 2px;
  text-align: left;
  h1 {
    font-size: 22px;
    padding-bottom: 12px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    color: #7a7a7a;
    padding-bottom: 30px;
  }
  label {
    display: block;
    text-align: left;
    color: #7a7a7a;
    font-size: 14px;
    padding: 9px 0;
  }
  form {
    input[type="text"],
    input[type="password"],
    select,
    button {
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      height: 38px;
      width: 100%;
    }
    button {
      background-color: #5e81ff;
      color: #fff;
      height: 48px;
      border-radius: 8px;
      &:disabled {
        opacity: 0.5;
      }
    }
  }
  #check {
    display: inline-block;
  }
  #check + label {
    display: inline-block;
  }
  .check-input {
    // padding: 30px 0;
    text-align: left;
    input {
      width: 20px;
      height: 20px;
      border: 2px solid lightgray;
    }
    label {
      vertical-align: bottom;
    }
  }
}

.join-form {
  > div {
    margin-bottom: 15px;
  }
}

p.error-message {
  padding-bottom: 0;
}

.join-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 108;
  > div {
    z-index: 115;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 400px;
    padding: 24px;
    border-radius: 16px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 100vh;
  background: #fff;
  ul {
    padding: 0 16px;
    padding-top: 40px;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
      text-align: center;
      border-radius: 16px;
      transition: all 0.3s;
      &.active {
        background-color: #f4f6fb;
      }
      a {
        &.active {
          background-color: #f4f6fb;
          color: #000;
          border-radius: 16px;
          padding: 10px 0px;
          svg {
            color: #000;
          }
        }
      }
      width: 78px;
      height: 63px;
      a {
        display: inline-block;
        width: 100%;
        color: #7a7a7a;
        span.wrap {
          display: inline-block;
          width: 100%;
          span {
            display: inline-block;
            width: 100%;
            &:first-child {
              width: 16px;
              height: 16px;
            }
            &:last-child {
              padding-top: 8px;
              text-align: center;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    bottom: 0;
    top: initial;
    width: 100%;
    height: 65px;
    padding: 8px 0;
    ul {
      padding-top: 0;
      display: flex;
      justify-content: space-between;
    }
  }
}
