@import "../abstracts/variables.scss";

.main-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
  padding: 40px;
  background-color: #f8fafd;

  @media screen and (max-width: 767px) {
    padding: 20px;
  }

  @media screen and (max-width: 600px) {
    margin-left: 0px;
    padding-bottom: 90px;
  }

  .main-title {
    position: relative;
    text-align-last: left;
    margin-bottom: 40px;

    @media screen and (max-width: 600px) {
      padding: 24px 20px;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 0px;
    }
  }

  .main-menu-wrapper {
    width: 100%;
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 8px;

    @media screen and (max-width: 600px) {
      border-radius: 0;
      margin-bottom: 16px;
      padding: 8px 20px;
      overflow-x: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }
    }
  }

  .main-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 600px) {
      width: fit-content;
      overflow-x: scroll;
      justify-content: flex-start;
    }

    .active-item-background {
      display: none;
      position: absolute;
      height: 40px;
      border-radius: 8px;
      background-color: $blue-200;
      transition: 0.5s ease-in-out;

      @media screen and (max-width: 600px) {
        display: block;
      }
    }

    li {
      text-align: center;
      width: 25%;
      padding: 8px;
      line-height: 24px;
      border-radius: 8px;
      white-space: nowrap;
      z-index: 1;

      a {
        width: 100%;
        height: 100%;
        display: block;
        color: $gray-400;
        cursor: pointer;
        transition: 0s;
      }

      &.active {
        background-color: $blue-200;

        a {
          color: #000;
          font-weight: 600;
        }
      }

      @media screen and (max-width: 600px) {
        padding: 9px 18px;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;

        a {
          transition: color 0.5s ease-in-out;
        }

        &.active {
          background-color: transparent;
        }
      }
    }
  }
}

.main-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1,
  h1.main-title {
    > button {
      display: flex;
      gap: 15px;
      border: none;
      background: transparent;
      font-size: 32px;
      font-weight: 700;
      span {
        overflow: hidden;
        display: block;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        img {
          width: 100%;
        }
      }
    }
  }
}

.main-teams {
  z-index: 7;
  margin-top: 15px;
  position: absolute;
  width: 288px;
  height: auto;
  padding: 20px;
  background: $gray-100;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(14, 31, 53, 0.06), 0px 6px 12px rgba(14, 31, 53, 0.08),
    0px 12px 20px rgba(14, 31, 53, 0.06);
  border-radius: 8px;
  ul {
    li {
      color: $gray-400;
      button {
        color: $gray-400;
      }
      span {
        overflow: hidden;
        display: block;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        img {
          width: 100%;
        }
      }
    }
  }
}
.main-teams {
  padding: 8px;
  ul {
    width: 100%;
    height: 100%;
  }
  li {
    position: relative;
    font-size: 14px;
    height: 48px;
    width: 100%;
    height: 48px;
    button {
      width: 100%;
      height: 100%;
      position: relative;
    }
    &.on {
      button {
        color: #000;
      }
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        content: "";
        display: inline-block;
        background: url("../../../public/common/team_checked.png") no-repeat center/cover;
        width: 10px;
        height: 7px;
        transform: translateY(-50%);
      }
    }
  }
}

@media screen and (min-width: 401px) {
  .mo-title {
    display: none;
  }
  .close-teams {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .main-teams__wrap {
    content: "";
    display: inline-block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
  }
  .mo-title {
    padding-top: 8px;
    padding-left: 8px;
    h3 {
      color: #000;
    }
  }
  .main-teams {
    z-index: 6;
    position: fixed;
    margin-top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .close-teams {
    z-index: 20;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 12px;
    height: 12px;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
