@import "../abstracts/variables.scss";

.board {
  &.write {
    .input-wrap {
      display: flex;
      gap: 20px;
      > div {
        &:first-child {
          width: 30%;
          max-width: 300px;
        }
        &:last-child {
          width: 70%;
        }
      }
    }
  }
}

.comment-container {
  margin-top: 16px;
  padding: 32px 0px;
  background-color: $white;

  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    padding: 0px 32px;

    span {
      color: $main-blue-100;
    }
  }
}

.comment-regist-form {
  margin-top: 64px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  gap: 5px;
  span {
    display: block;
    width: 50px;
    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    margin-top: 48px;
  }
}

.reply-regist-form {
  padding: 24px 32px 24px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: 600px) {
    padding: 24px 20px 24px 68px;
  }
}

.reply-regist-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 16px;

  span {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: $green-100;
  }
}

.comment-button-box {
  display: flex;
  column-gap: 8px;

  .cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 32px;
    border-radius: 8px;
    color: $gray-400;
    background-color: $white;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid $gray-100;
  }
  .regist-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 32px;
    border-radius: 8px;
    color: $white;
    background-color: $main-blue-100;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border: none;
  }
}

.paging {
  .period {
    color: $gray-400;
  }
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    color: $gray-400;
    span {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:disabled {
      background: #5e81ff;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      color: #fff;
      &:first-child {
        background: transparent;
        color: $gray-400;
      }
      &:last-child {
        background: transparent;
        color: $gray-400;
      }
      &.arrow {
        background: transparent;
        color: $gray-400;
      }
      &:first-child:last-child {
        opacity: 0.3;
      }
    }

    &.on {
    }
  }
}

.main-teams__wrap {
  &.board-list {
    position: absolute;
    top: 40px;
    right: 15%;
    .main-teams {
      margin-top: 0;
      position: relative;
      width: auto;
      li {
        width: 100px;
      }
    }
    button {
      text-align: left;
    }
  }
}

.option-box.board-input {
  border-radius: 8px;
  border: 1px solid $gray-100;
  > ul {
    display: flex;
    gap: 3px;
    align-items: center;
    flex-shrink: 0;
    > li {
      &:first-child {
        padding: 0 5px;
      }
      &.search-icon {
        padding: 0 10px;
      }
    }
    .select-control {
      width: 100px;
      box-shadow: none;
    }
    .input-wrapper {
      box-shadow: none;
    }
  }
}

@media all and (max-width: 767px) {
  .option-box.board-input {
    border: none;
    > ul {
      > li:first-child {
        margin-right: 15px;
      }
      > li:nth-child(2),
      > li:nth-child(3) {
        display: none;
      }
    }
  }
}
.mo-search {
  z-index: 701;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  // height: 100vh;
  overflow: hidden;
  .search-top {
    background: #f4f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    > .input-container {
      width: calc(100% - 45px);
    }
    > button {
      margin-left: 10px;
    }
  }
  .search-bottom {
    background: #fff;
    height: calc(100vh - 80px);
    > ul {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      li {
        button {
          color: $gray-300;
        }
      }
    }
    &__content {
      height: 100%;
      .no-content {
        height: 76vh;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          color: $gray-300;
        }
      }
      .search-list {
        li {
          display: flex;
          flex-shrink: 0;
          justify-content: space-between;
          align-items: center;
          padding: 24px;
          > a {
            width: 100%;
            span {
              display: inline-block;
              width: 100%;
              font-size: 16px;
              text-align-last: left;
            }
          }
        }
      }
    }
  }
}

.open-tab {
  background: #f4f6f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid $gray-100;
  li {
    position: relative;
    &.on {
      button {
        &::after {
          position: absolute;
          bottom: -11px;
          left: 0;
          content: "";
          display: inline-block;
          width: 100%;
          height: 2px;
          background: #000;
        }
      }
    }
    button {
      font-size: 16px;
    }
  }
}

.section-container {
  .section-top {
    &.search-sort__mo {
      z-index: 889;
      width: 100%;
      position: fixed;
      top: 130px;
      left: 0;
      height: 50px;
      background: #f4f6f6;
      justify-content: space-between;
      padding: 0 30px;
      h2 {
        font-size: 16px;
      }
      .search-icon {
        display: none;
      }
    }
  }
}

.Ring-module_container__1mCd7 {
  width: 100% !important;
}

@media all and (max-width: 768px) {
  .board.write {
    .input-wrap {
      flex-direction: column;
      .select-control {
        width: 100%;
      }
      > div:last-child {
        width: 100%;
      }
      > div:first-child {
        width: 100%;
        max-width: none;
      }
    }
    .rdw-editor-toolbar {
      display: none;
    }
    .visual-area {
      display: none;
      + hr {
        display: none;
        + button {
        }
      }
    }
    .button-area {
      text-align: right;
    }
  }
}
