@import "../abstracts/variables.scss";

.board {
  &.write {
    .input-wrap {
      display: flex;
      gap: 20px;
      > div {
        &:first-child {
          width: 30% !important;
        }
        &:last-child {
          width: 70%;
        }
      }
    }
  }
}

.comment-container {
  margin-top: 16px;
  padding: 32px 0px;
  background-color: $white;

  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    padding: 0px 32px;

    span {
      color: $main-blue-100;
    }
  }
}

.comment-regist-form {
  margin-top: 64px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  gap: 5px;
  span {
    display: block;
    width: 50px;
    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    margin-top: 48px;
  }
}

.reply-regist-form {
  padding: 24px 32px 24px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: 600px) {
    padding: 24px 20px 24px 68px;
  }
}

.reply-regist-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 16px;

  span {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: $green-100;
  }
}

.comment-button-box {
  display: flex;
  column-gap: 8px;

  .cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 32px;
    border-radius: 8px;
    color: $gray-400;
    background-color: $white;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid $gray-100;
  }
  .regist-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 32px;
    border-radius: 8px;
    color: $white;
    background-color: $main-blue-100;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border: none;
  }
}
