.find-team {
  .input-container {
    max-width: 400px;
  }

  .team-card-container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 30px;

    @media only screen and (max-width: 1484px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 1058px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
