@import "../abstracts//variables.scss";

.find-team {
  .find-team-container {
    margin: 0px auto;
    width: 1090px;
  }
  .find-team-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .find-team-input {
      width: 529px;
      margin-right: 15px;
    }
    :nth-child(2) {
      input,
      ul {
        display: none;
      }
      label {
        cursor: pointer;
      }
      input:checked ~ ul {
        display: flex;
        flex-direction: column;
        z-index: 2;
        border-radius: 8px;
        width: 112px;
        height: 128px;
        background: #fff;
        position: absolute;
        transform: translate(-86%);
        padding: 8px;
        margin-top: 12px;
        box-shadow: $shadow-M1;
      }
      li {
        flex: 1;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #7a7a7a;
        font-size: 14px;
        cursor: pointer;
        img {
          display: none;
        }
      }
      .selection {
        color: #1d1d1d;
        img {
          display: inline;
        }
      }
      li:active {
        border-radius: 8px;
        background-color: #f8fafd;
      }
    }
  }

  .team-card-container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
  }

  .team-card-loading-spinner {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: auto;
  }

  .find-team-observer {
    height: 1px;
  }

  @media only screen and (max-width: 1279px) {
    .find-team-container {
      width: 100%;
    }
  }

  @media only screen and (max-width: 767px) {
    .team-card-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
