// color
$black: #1d1d1d;
$white: #ffffff;
$blue-100: #f8fafd;
$blue-200: #f4f6fb;
$gray-100: #efefef;
$gray-200: #dbdbdb;
$gray-300: #b3b3b3;
$gray-400: #7a7a7a;
$red-50: #f3c9c9;
$red-100: #e56262;
$red-200: #cf3030;
$green-50: #add7b7;
$green-100: #59b76f;
$green-200: #309c49;
$main-blue-50: #b4c4ff;
$main-blue-100: #5e81ff;
$main-blue-200: #335cec;

// box shadow
$shadow-M1: 0px 2px 4px rgba(14, 31, 53, 0.06), 0px 6px 12px rgba(14, 31, 53, 0.08),
  0px 12px 20px rgba(14, 31, 53, 0.06);
$shadow-M2: 0px 3px 6px rgba(14, 31, 53, 0.08), 0px 6px 12px rgba(14, 31, 53, 0.12),
  0px 14px 24px rgba(14, 31, 53, 0.08);
$shadow-M3: 0px 4px 8px rgba(14, 31, 53, 0.1), 0px 8px 16px rgba(14, 31, 53, 0.16),
  0px 16px 28px -1px rgba(14, 31, 53, 0.1);
$shadow-M4: 0px 6px 10px rgba(14, 31, 53, 0.12), 0px 12px 18px rgba(14, 31, 53, 0.2),
  0px 20px 40px -1px rgba(14, 31, 53, 0.12);
