@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";
@import "../colors.scss";

.normal-white-button {
  @include white-button;
}

.fullWidth-white-button {
  @include white-button;
  width: 100%;
}

.normal-blue-button {
  @include blue-button;
}

.fullWidth-blue-button {
  @include blue-button;
  width: 100%;
}

.disabled-normal-blue-button {
  @include blue-button;
  cursor: default;
  background: $main-blue-50;
}

.disabled-fullWidth-blue-button {
  @include blue-button;
  background: $main-blue-50;
  cursor: default;
  width: 100%;
}

// input start

.input-container {
  width: 100%;

  div {
    color: $gray-400;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    border: 1px solid $gray-100;
    border-radius: 8px;
    padding: 15px 16px;
    outline: none;
    color: $gray-400;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;

    &:focus {
      border-color: $main-blue-100;
    }
  }

  p {
    display: inline-block;
    color: $red-100;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 4px;
  }

  &.error {
    div {
      color: $red-100;
    }

    input {
      border-color: $red-100;
    }
  }
}

// input end

// checbox
.check-input {
  // padding: 30px 0;
  .padding {
    display: inline-block;
    padding: 0 5px;
  }

  input[type="checkbox"] {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    width: 20px;
    height: 20px;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      color: $gray-400;
      a {
        text-decoration: underline;
        color: $gray-400;
      }
    }

    // Box.
    & + label:before {
      content: "";
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      border: 2px solid $gray-200;
      border-radius: 2px;
      vertical-align: middle;
    }

    // Box checked
    &:checked + label:before {
      background: $main-blue-100;
      border: 2px solid $main-blue-100;
    }

    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: "";
      width: 6px;
      height: 10px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: 7px;
      top: 2px;
    }
  }

  &.error {
    input[type="checkbox"] {
      & + label::before {
        border-color: $red-100;
      }
      // Box checked
      &:checked + label:before {
        background: $main-blue-100;
        border: 2px solid $main-blue-100;
      }
    }
  }
}

//noti card
.noti-card {
  display: flex;
  .noti-card__date {
    display: flex;
  }
}
