@import "../colors.scss";

.select-container {
  width: 100%;

  div {
    color: $gray-400;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  select {
    width: 100%;
    border: 1px solid $gray-100;
    border-radius: 8px;
    padding: 13px 16px;
    outline: none;
    color: $gray-400;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../../../public/select/arrow.svg") no-repeat calc(100% - 20px) 50%;

    ::-ms-expand {
      display: none;
    }

    &:focus {
      border-color: $main-blue-100;
    }
  }

  p {
    display: inline-block;
    color: $red-100;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 4px;
  }

  &.error {
    div {
      color: $red-100;
    }

    input {
      border-color: $red-100;
    }
  }
}
